<table class="minesweeper">
  <tr *ngFor="let row of game.fields">
    <td *ngFor="let field of row">
      <img src="assets/{{field.image}}.png" (click)="check(field.x, field.y)" (contextmenu)="onRightClick($event, field.x, field.y)">
    </td>
  </tr>
</table>
<span class="btn btn-lg btn-outline-info" style="margin-left: 20px;">Flags: {{flags}}</span>
<span class="btn btn-lg btn-outline-info" style="margin-left: 20px;">Time: {{time}}</span>
<span *ngIf="win || lose" class="btn btn-lg btn-outline-info" style="margin-left: 20px;" (click)="ngOnInit()">Reload</span>