/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.css';

html {
  height: 100%;
}

body {
  height: 100%;
}

.ascii-art {
  font-size: 0.2vw;
  line-height: 1;
}

.classee {
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.pointer {
  cursor: pointer;
}

.mouse {
  cursor: default;
}

.form-control:focus {
  color: #495057;
  border: 1px solid #ced4da;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.minesweeper {
  border: 10px solid #4a448a;
  border-radius: 5px;
  margin: 20px;
}

.minesweeper img {
  margin: -1px;
  image-rendering: pixelated;
}
