/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.css';
.ascii-art {
  font-size: .2vw;
  line-height: 1;
}

.classee {
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.pointer {
  cursor: pointer;
}

.mouse {
  cursor: default;
}
