<div class="container-fluid noselect score">
  Score: {{game.score}}
  <span style="position: absolute; right: 15px;" (click)="ngOnInit()">Restart</span>
</div>
<div class="container-fluid noselect h100">
  <table class="game2048">
    <tr *ngFor="let row of game.fields">
      <td *ngFor="let field of row">
        <div class="fields text-center">
          <div class="field" [ngClass]="field.color">
            <p>
              {{field.number}}
            </p>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div *ngIf="game.lose" class="lose" (click)="ngOnInit()">
    <span>You lost.
      <br>Score: {{game.score}}</span>
  </div>
</div>