<div class="row">
    <div class="col-lg-6">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <th>Schüler</th>
                <th>Klasse</th>
                <th>Mo</th>
                <th>Di</th>
                <th>Mi</th>
                <th>Do</th>
                <th>Fr</th>
            </thead>
            <tr *ngFor="let schueler of schuelers">
                <td>{{schueler.name}}</td>
                <td>{{schueler.klasse}}</td>
                <td>
                    <img src="/assets/check.ico" *ngIf="schueler.mo" width="22px">
                </td>
                <td>
                    <img src="/assets/check.ico" *ngIf="schueler.di" width="22px">
                </td>
                <td>
                    <img src="/assets/check.ico" *ngIf="schueler.mi" width="22px">
                </td>
                <td>
                    <img src="/assets/check.ico" *ngIf="schueler.do" width="22px">
                </td>
                <td>
                    <img src="/assets/check.ico" *ngIf="schueler.fr" width="22px">
                </td>
            </tr>
        </table>
        <div class="container-fluid">
            <button class="btn btn-outline-primary" routerLink="/home">Zurück</button>
        </div>
        <br>
        <div style="border-bottom: 1px solid #ced4da"></div>
    </div>
    <div class="col-lg-6">
        <br>
        <div class="container-fluid">
            <h3>Essen</h3>
            <table class="table table-bordered table-responsive-lg">
                <tr>
                    <td>Montag</td>
                    <td>{{essen.montag}}</td>
                </tr>
                <tr>
                    <td>Dienstag</td>
                    <td>{{essen.dienstag}}</td>
                </tr>
                <tr>
                    <td>Mittwoch</td>
                    <td>{{essen.mittwoch}}</td>
                </tr>
                <tr>
                    <td>Donnerstag</td>
                    <td>{{essen.donnerstag}}</td>
                </tr>
                <tr>
                    <td>Freitag</td>
                    <td>{{essen.freitag}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>