<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Essen bearbeiten</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div class="container-fluid">
        <form method="post" action="/essen">
            <div class="form-group">
                <label for="montag">Montag:</label>
                <textarea class="form-control" name="montag" id="montag"></textarea>
            </div>
            <div class="form-group">
                <label for="dienstag">Dienstag:</label>
                <textarea class="form-control" name="dienstag" id="dienstag"></textarea>
            </div>
            <div class="form-group">
                <label for="mittwoch">Mittwoch:</label>
                <textarea class="form-control" name="mittwoch" id="mittwoch"></textarea>
            </div>
            <div class="form-group">
                <label for="donnerstag">Donnerstag:</label>
                <textarea class="form-control" name="donnerstag" id="donnerstag"></textarea>
            </div>
            <div class="form-group">
                <label for="freitag">Freitag:</label>
                <textarea class="form-control" name="freitag" id="freitag"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Speichern</button>
        </form>
    </div>
</body>