<div class="container-fluid">
  <form #speisen="ngForm" (ngSubmit)="save(speisen.value)" autocomplete="off">
    <div class="form-group">
      <label for="montag">Montag:</label>
      <textarea ngModel class="form-control" name="montag" id="montag" #montag="ngModel" autofocus></textarea>
    </div>
    <div class="form-group">
      <label for="dienstag">Dienstag:</label>
      <textarea ngModel class="form-control" name="dienstag" id="dienstag" #dienstag="ngModel"></textarea>
    </div>
    <div class="form-group">
      <label for="mittwoch">Mittwoch:</label>
      <textarea ngModel class="form-control" name="mittwoch" id="mittwoch" #mittwoch="ngModel"></textarea>
    </div>
    <div class="form-group">
      <label for="donnerstag">Donnerstag:</label>
      <textarea ngModel class="form-control" name="donnerstag" id="donnerstag" #donnerstag="ngModel"></textarea>
    </div>
    <div class="form-group">
      <label for="freitag">Freitag:</label>
      <textarea ngModel class="form-control" name="freitag" id="freitag" #freitag="ngModel"></textarea>
    </div>
    <div class="form-group">
      <label for="woche">Woche:</label>
      <input ngModel class="form-control" name="woche" id="woche" #woche="ngModel">
    </div>
    <button type="submit" class="btn btn-outline-primary">Speichern</button>
    <span class="alert alert-success" *ngIf="savetrue">Gespeichert</span>
  </form>
</div>
<div class="container-fluid">
  <h3>Lock: </h3>
  <label class="switch" (click)="changeState()">
    <input type="checkbox" [(ngModel)]="lockstate">
    <span class="slider"></span>
  </label>
  <h3>Delete: </h3>
  <button class="btn btn-outline-dark" (click)="delete()">Delete</button>
  <span class="alert alert-success" *ngIf="deltrue">Gelöscht</span>
</div>